@*@model ProjectFEP.ViewModel.AddCaseViewModel*@

@{
    ViewBag.Title = "AddCase";
}

<div class="main-content has-widget" id="main-content">
    <form action="@Url.Action("Create","Question")" method="post">
        <div class="container">
            <div class="box-container">
                <div class="single-content popup-content hapusQuestion" id="target-id">

                    <div class="widget-parent">
                        <div class="row">
                            <div class="column">
                                <div class="widget auto-height">
                                    <div class="widget-head">
                                        <span class="head-wrap">
                                            <span class="label">
                                                <span class="title">Case Detail</span>
                                            </span>
                                            <span class="opposite-link">
                                                <input type="submit" name="save" value="Save" />
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <label>Type</label>
                        <span class="custom-combobox">
                            <select name="casetype" onchange="test()">
                                @foreach (var item in Model.caseType)
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.CaseTypeId)">@Html.DisplayFor(modelItem => item.CaseTypeNmae)</option>
                                }
                            </select>
                        </span>
                    </p>
                    <p>
                        <label>Language</label>
                        <span class="custom-combobox">
                            <select name="rows[0][bahasa]">
                                @foreach (var item in Model.languageType)
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.LanguageId)">@Html.DisplayFor(modelItem => item.LanguageTypeName)</option>
                                }
                            </select>
                        </span>
                    </p>
                    <p>
                        <label>Name<span class="required">*</span></label>
                        <input type="text" name="name">
                    </p>
                    <p>
                        <label>Description<span class="required">*</span></label>
                        <textarea></textarea>
                    </p>


                    <div id="createCase">
                        <p>
                            <a class="button button-primary with-icon icon-btn-add" onclick="appendCase();">Subquestion </a>
                        </p>

                        <p>
                            <label>1<span class="required">*</span></label>
                            <input type="text" name="rows[case][0]" />
                        </p>

                        <ol type="a" id="parentchoice0">
                            <li>
                                <p>
                                    <input type="text" name="rows[0][choice]" value=" " style="display:inline-block; width:97%;" />
                                </p>
                            </li>
                        </ol>

                        <p>
                            <a onclick="appendChoice(0);" class="button button-primary with-icon icon-btn-add">Choice </a>
                        </p>
                    </div>













                    <div id="createCaseProcrastonator">
                        <p>
                            <a onclick="addScoreProcrastinator();" class="button button-primary with-icon icon-btn-add">Score </a>
                        </p>
                        Kolom Jawaban 
                        <div class="row content addScoreProcrastinator">

                            <div class="column one-half">
                                <p>
                                    <label>Score</label>
                                    <input type="text" name="rowsp[0][score]"/>
                                </p>
                            </div>
                            <div class="column one-half">
                                <p>
                                    <label>Word</label>
                                    <input type="text" name="rowsp[0][word]" />
                                </p>
                            </div>
                        </div>

                        <p>
                            <a class="button button-primary with-icon icon-btn-add" onclick="appendCaseProcrastinator();">Subquestion </a>
                        </p>
                        Soal
                        <p>
                            <label>1<span class="required">*</span></label>
                            <input type="text" name="rowsp[case][0]" />
                        </p>

                      
                    </div>














                    <div id="createCaseSensory">
                        <div class="column" style="margin-top:10px;">
                            <p>
                                <a onclick="appendChoice(0);" class="button button-primary with-icon icon-btn-add">Kolom Penilaian </a>
                            </p>
                        </div>

                        Kolom Penilaian
                        <div class="row content">
                            <div class="column">
                                <span class="custom-combobox">
                                    <select name="rows[0][bahasa]">
                                        <option value="Visual">Visual</option>
                                        <option value="Auditiory">Auditiory</option>
                                        <option value="Tactile">Tactile</option>
                                    </select>
                                </span>
                            </div>
                            
                           
                            <p>
                                <a onclick="appendChoice(0);" class="button button-primary with-icon icon-btn-add">Score</a>
                            </p>

                            <div class="column one-half">
                                <p>
                                    <label>Score</label>
                                    <span class="custom-combobox">
                                        <select name="rows[0][bahasa]">
                                            <option value="1">1</option>
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                        </select>
                                    </span>
                                </p>
                            </div>
                            <div class="column one-half">
                                <p>
                                    <label>Word</label>
                                    <input type="text" name="word" />
                                </p>
                            </div>
                        </div>
                       
                        
                        <p>
                            <a class="button button-primary with-icon icon-btn-add" onclick="appendCase();">Subquestion </a>
                        </p>

                        Soal
                        <p>
                            <label>1<span class="required">*</span></label>
                            <input type="text" name="rows[case][0]" />
                        </p>

                       

                    </div>



                </div>

               

            </div>
        </div>
    </form>
</div>
@Scripts.Render("~/template/js/vendor/jquery/jquery.js")
@Scripts.Render("~/scripts/script.js")

